include  ../../../views/formComponents

mixin activityform(activity)
  form(id='activityform', action='/activities/submit', method='post')
    +hidden('id', activity.id())
    +hidden('previousUrl', activity.url())
    fieldset
      .row
        .col-md-12
          h3 Edit
          .row
            +text('title', 'Title', activity.title())
            .row
              +date('startDate', 'Start', activity.startMoment().format('L'))
              +time('startTime', activity.startMoment().format('LT'))
            +textarea('description', 'Description', activity.description())
            .form-group
              +controlLabel('url', 'URL suffix')
              input.form-control#url(type='text', name='url', value=activity.url())
            +text('location', 'Location', activity.location())
        #resources
          .row
            .col-xs-3.col-sm-4
              +controlLabel('bezeichnung', ('activities.resourcelabel'))
            .col-xs-3.col-sm-2
              +controlLabel('anzahl', ('activities.count'))
            .col-xs-2.col-sm-2
              +controlLabel('registrierung', ('activities.registration'))
            .col-xs-2.col-sm-2
              +controlLabel('registrierung', ('activities.deregistration'))
          each name in activity.resourceNames()
            - var resource = activity.resourceNamed(name)
            +resourceRow(name, resource.limit(), resource.isRegistrationOpen(), resource.canUnsubscribe())
            +hidden('resources[previousNames]', name)
          .row.form-group
            .col-md-12
              button.add.btn.btn-sm.btn-default(type='button')
                | &nbsp;#{('activities.resource')}
      hr
      +submitButtons('Save')

mixin resourceRow(name, limit, isRegistrationOpen, canUnsubscribe)
  .row.form-group
    .col-xs-3.col-sm-4
      input.form-control(name='resources[names]', value=name, type='text', placeholder=('activities.label'))
    .col-xs-3.col-sm-2
      input.form-control(name='resources[limits]', value=limit, type='text', placeholder=('activities.unlimited'))
    .col-xs-2.col-sm-2
      select.form-control(name='resources[isRegistrationOpen]')
        option(value='yes', selected=(isRegistrationOpen ? true : false)) #{('activities.possible')}
        option(value='no', selected=(isRegistrationOpen ? false : true)) #{('activities.impossible')}
    .col-xs-2.col-sm-2
      select.form-control(name='resources[canUnsubscribe]')
        option(value='yes', selected=(canUnsubscribe ? true : false)) #{('activities.possible')}
        option(value='no', selected=(canUnsubscribe ? false : true)) #{('activities.impossible')}
