mixin loginMenu()
  if (accessrights.isRegistered())
    li.dropdown
      a.dropdown-toggle(href='#', data-toggle='dropdown')
        i.fa.fa-info-circle.fa-fw &nbsp;
        | #{user.member.nickname()} 
        b.caret
      ul.dropdown-menu
        li: a(href='/members/edit/#{encodeURIComponent(user.member.nickname())}')
          i.fa.fa-edit.fa-fw
          | &nbsp;#{t('members.edit')}
        li: a(href='/auth/logout')
          i.fa.fa-sign-out.fa-fw
          | &nbsp;#{t('general.logout')}
  else if (!accessrights.isAuthenticated())
    li: a.navbar-link(data-toggle='modal', href='#login')
      i.fa.fa-sign-in
      | &nbsp;#{t('general.login')}


mixin topNavbar
  .navbar-header
    a.navbar-brand.no-padding(href='/')
      img(src='/img/SoftwerkskammerWappenLinks.png', alt='Softwerkskammer')
    a.btn.btn-default.navbar-toggle(data-toggle='collapse', data-target='.collapse-top')
      span.sr-only Toggle
      i.fa.fa-bars.fa-lg

  .navbar-collapse.collapse.collapse-top
    ul.nav.navbar-nav.navbar-right.hidden-xs.bottom
      +loginMenu
      li: a(style='padding: 2px;', href='/language/de?currentUrl=#{encodeURIComponent(currentUrl)}'): img(src='/img/flags/Germany.png', alt='Deutsch')
      li: a(style='padding: 2px;', href='/language/en-gb?currentUrl=#{encodeURIComponent(currentUrl)}'): img(src='/img/flags/United-Kingdom.png', alt='English')
    ul.nav.navbar-nav.bottom
      li(data-agoranav='announcements'): a(href='/announcements')
        span
          i.fa.fa-calendar.fa-fw
          | &nbsp;#{t('announcements.announcements')}
      li(data-agoranav='members'): a(href='/members')
        span
          if (accessrights.isRegistered())
            i.fa.fa-user.fa-fw
            | &nbsp;#{t('members.members')}
